body * {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* map */

.mapgrid {
  text-align: 'center';
  color: red;
  background-color: red;
  height: 80%;
  width: 100%;
}
.mapcontainer {
  height: 100vh;
  width: 100vw;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* map */

.wizard {
  width: 100vw;
  height: 100vh;
  background-color: #1fab82;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s;
  visibility: visible;
  z-index: 1;
}

.wizard.fade-out {
  visibility: hidden;
  z-index: 0;
}

.wizard p {
  color: #fff;
}

.wizard-welcome {
  color: #fff;
}

.wizard__page-title {
  margin: 0;
  font-size: 25px;
}

.intro-bottom-nav {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.intro-bottom-nav button {
  background: rgba(0, 0, 0, 0.4);
}

.intro-bottom-nav button:focus,
.intro-bottom-nav button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.space-between {
  justify-content: space-between;
}